<header>
		<div class="has-text-centered">
		<img src="/assets/images/logo.png" alt="" width="145" height="auto">
		</div>
		<nav class="navbar-tabs">
			<a href="#" class="navbar-item">WORK</a>
			<a href="#" class="navbar-item">PLAY</a>
			<a href="#" class="navbar-item">STUDY</a>
			<a href="#" class="navbar-item">LEARN</a>
			<a href="#" class="navbar-item">SCHOLARSHIP</a>
			<a href="#" class="navbar-item">RELAX</a>
			<a href="#" class="navbar-item">SCHOOL</a>
			<a href="#" class="navbar-item">JOB</a>
		</nav>
	</header>